body {
  height: 100%;
  background: url('../images/347244-carbon-fiber-background-1920x1080-hd-for-mobile.jpg') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 254, 254);
}

.container-7 p,
.container-8 p {
  margin-bottom: 1em;
}

.container {
  float: left;
}

.text {
  float: left;
}

._button {
  display: block;
  float: left;
  text-align: center;
}

._element {
  background-size: cover;
}

.container ._element {
  height: 189px;
}

.container-1 {
  width: 1108px;
  height: 168px;
  margin: 37px 0 0 4.25%;
}

.container-10 {
  position: relative;
  z-index: 13;
  width: 25.7963003502%;
  height: 259px;
  margin: 10px 0 0 1.57345%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/1280px-Lamborghini_350_GT_1964.jpg');
  background-size: cover;
  background-position: left top;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-11 {
  position: relative;
  z-index: 15;
  width: 25.7963003502%;
  height: 259px;
  margin: 10px 0 0 10.73364%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/400GT.JPG');
  background-size: cover;
  background-position: left top;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-12 {
  position: relative;
  z-index: 17;
  width: 25.7963003502%;
  height: 259px;
  margin: 10px 0 0 8.8632899999%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/1280px-Lamborghini_Miura_Sinsheim.jpg');
  background-size: cover;
  background-position: left top;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-13 {
  position: relative;
  clear: both;
  z-index: 19;
  width: 25.7963003502%;
  height: 259px;
  margin: 40px 0 0 1.57345%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/Lamborghini-Espada.jpg');
  background-size: cover;
  background-position: 81% 78%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-14 {
  position: relative;
  z-index: 23;
  width: 25.7963003502%;
  height: 259px;
  margin: 40px 0 0 10.73364%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/Lamborghini_Countach_LP500S.jpg');
  background-size: cover;
  background-position: 111% 0%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-15 {
  position: relative;
  z-index: 21;
  width: 25.7963003502%;
  height: 259px;
  margin: 43px 0 0 8.93444%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/Lamborghini_Aventador_LP700-4_-_Mondial_de_l\'Automobile_de_Paris_2014_-_003.jpg');
  background-size: cover;
  background-position: 82% 0%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-16 {
  position: relative;
  clear: both;
  z-index: 25;
  width: 25.7963003502%;
  height: 259px;
  margin: 42px 0 0 1.57345%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/1920px-Geneva_MotorShow_2013_-_Lamborghini_Veneno_1.jpg');
  background-size: cover;
  background-position: left top;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-17 {
  position: relative;
  z-index: 27;
  width: 25.7963003502%;
  height: 259px;
  margin: 42px 0 0 11.10169%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/Lamborghini_Huracan_LP610-4_(16728125723).jpg');
  background-size: cover;
  background-position: 67% 0%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-18 {
  position: relative;
  z-index: 29;
  width: 25.7963003502%;
  height: 259px;
  margin: 42px 0 0 8.56639%;
  border: 2px solid rgb(0, 0, 0);
  background-image: url('../images/1920px-Lamborghini_Urus_20180306_Genf_2018.jpg');
  background-size: cover;
  background-position: left top;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-10:hover,
.container-11:hover,
.container-12:hover,
.container-13:hover,
.container-14:hover,
.container-15:hover,
.container-16:hover,
.container-17:hover,
.container-18:hover {
  border-width: 4px;
}

.container-10:active,
.container-11:active,
.container-12:active,
.container-13:active,
.container-14:active,
.container-15:active,
.container-16:active,
.container-17:active,
.container-18:active {
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

.container-19 {
  clear: both;
  width: 119px;
  height: 123px;
  margin: 33px 0 0 89.16406%;
  border: 3px solid rgb(251, 183, 49);
  border-radius: 65px;
  background-image: url('../images/eyebox_arrow_yellow.png');
  background-position: left top;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container-19:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}

.container-19:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-shadow: 0 -2px 5px 5px rgba(0, 0, 0, .5) inset;
}

.container-2 {
  width: 269px;
  margin: -5px 0 0 -5.04428%;
  background-image: url('../images/Lamborghini-logo-1920x1080.png');
  background-position: left top;
}

.container-20 {
  clear: both;
  width: 100.75%;
  height: 153px;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.76);
}

.container-3 {
  width: 782px;
  margin: -10px 0 0 8.22992%;
  background-image: url('../images/4.jpg');
  background-position: 0% 52%;
}

.container-4 {
  clear: both;
  width: 2100px;
  height: 101px;
  margin-top: 90px;
  background-color: rgba(0, 0, 0, 0.66);
}

.container-5 {
  width: 769px;
  height: 58px;
  margin: 10px 0 0 19.15253%;
}

.container-6 {
  width: 259px;
  min-width: 259px;
  max-width: 259px;
  height: 63px;
  margin-left: 25.12801%;
}

.container-7 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 843px;
  height: 1863px;
  margin: 86px 0 0 2.9974%;
  background-color: rgba(0, 0, 0, 0.65);
}

.container-8 {
  position: relative;
  z-index: 35;
  width: 242px;
  height: 316px;
  margin: 303px 0 0 3.95052%;
  background-image: url('../images/diZWqjxXHJsTN.jpeg');
  background-size: cover;
  background-position: left top;
}

.container-9 {
  clear: both;
  width: 1142px;
  height: 887px;
  margin: 293px 0 0 2.4974%;
}

.text-1 {
  clear: both;
  width: 308px;
  min-height: 48px;
  margin: 93px 0 0 39.28255%;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.61);
  font-size: 2.188em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.text-10 {
  width: 84.0677966101%;
  min-height: 41px;
  margin: 13px 0 0 8.49554%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.text-11,
.text-12 {
  width: 84.0677966101%;
  min-height: 41px;
  margin: 210px 0 0 8.14604%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.text-13 {
  width: 28.8668320926%;
  min-height: 46px;
  margin: 73px 0 0 68.40364%;
  border: 2px solid rgb(180, 137, 0);
  font-size: 2.125em;
  color: rgb(255, 255, 255);
}

.text-2 {
  width: 97.1428571428%;
  min-height: 451px;
  margin: 22px 0 0 0.3429%;
  font-size: 1em;
  color: rgb(255, 254, 254);
}

.text-3 {
  width: 216px;
  min-height: 57px;
  margin: 248px 0 0 6.1983499999%;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 1.188em;
  line-height: 0.38;
  color: rgb(255, 255, 255);
}

.text-6 {
  width: 84.0677966101%;
  min-height: 41px;
  margin: 184px 0 0 6.76955%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.text-4,
.text-5,
.text-7 {
  width: 84.0677966101%;
  min-height: 41px;
  margin: 206px 0 0 7.79654%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.text-8 {
  width: 98.4191848585%;
  min-height: 41px;
  margin: 188px 0 0 2.39811%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.text-9 {
  width: 90.504355307%;
  min-height: 41px;
  margin: 11px 0 0 4.16174%;
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

.container ._button-1 {
  width: 47px;
  height: 48px;
  margin: 28px 0 0 1.83036%;
  border-radius: 24px;
  background-color: rgb(250, 232, 0);
  font-size: 2.313em;
  color: rgb(255, 255, 255);
}

.container ._button-2 {
  width: 220px;
  height: 52px;
  margin: 5px 0 0 4.20798%;
  padding: -2px;
  border: 4px solid rgb(250, 232, 0);
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 2.125em;
  color: rgb(3, 3, 2);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container ._button-2:hover {
  border-width: 4;
  border-color: rgb(179, 167, 24);
  box-shadow: -21px 9px 5px rgba(0, 0, 0, .5);
  color: rgb(0, 0, 0);
}

.container ._button-2:active {
  border: 6px solid rgb(250, 232, 0);
}

.container ._button-3 {
  width: 235px;
  min-width: 235px;
  height: 38px;
  margin: 10px 0 0 6.35859%;
  border: 2px solid rgb(250, 232, 0);
  border-radius: 57px;
  background-color: rgb(255, 255, 255);
  font-size: 1.188em;
  color: rgb(0, 0, 0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container ._button-3:hover {
  border-width: 3px;
  box-shadow: 0 0 5px 13px rgba(0, 0, 0, .5);
  font-size: 19px;
  color: rgb(177, 180, 53);
}

.text a {
  border: 3px solid rgb(0, 0, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 1.875em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(250, 232, 0);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(250, 232, 0);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}